.container {
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px; 
    .img-wrapper {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & img {
            width: 80%;
            height: 90%; 
        }
    }
    .img-wrapper-2{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & img {
            width: 80%;
            height: 80%; 
        }
    }
}
p{
    font-size: 20px;
    color:#e4ded9b0;
    font-family: 'Philosopher',sans-serif; 
    letter-spacing: 3px;
    font-weight: 400;
}
::-webkit-scrollbar {
    // display: none;
    height: 0px;
   
}
