.all-meeting-container {
    width: 100%;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    width: 100%;
    border: 0px solid ;
    padding: 10 20px;
    border-radius: 5px;
    color: darkgray;
    background: rgb(253, 253, 253);
    & h2 {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.2pc;
    }
}


/* width */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(242, 241, 241);
    border-radius: 0px;
    border: 0px solid ;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}