.all-meeting-container {
    width: 100vw;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: 2px solid rgb(233, 232, 232) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: darkgray;
    background: rgb(253, 253, 253);

    & h2 {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.2pc;
    }
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
}



.meeting-container-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    & h4 {
        flex: 1;
        color: #f88c9e;
        font-family: 'Philosopher', sans-serif;
        letter-spacing: 0.2pc; 
        font-size: 18px;
        font-weight: 600;
    }
}