.menu-container{
    height: 30vw;
    background-color: #f7f6f6;
}

.MuiList-root {
    width:min-content;
    height: 100%;
    flex-wrap: wrap;
    padding: 12px !important;
    .MuiButtonBase-root {
        margin-top: 15px ;
        color: #867a70b0;
        &:hover{
            color:black;
        }
    }
    &:hover{
        color: white;
    }
    &:focus {
        outline: none;
    }
    .MuiListItemIcon-root{
        min-width: 0%;
        color:#867a70b0 ;
    }
}