.set-metting {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 100px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    .user-input {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        & select {
            padding: 30px;
            margin-bottom: 10px;
            background-color: rgb(218, 198, 213);
            color: black;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            & option {
                background-color: rgb(218, 198, 213);
                color: black;
                border-radius: 8px;
            }
        }
    }
    .create-meeting {
        & button {
            padding: 25px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            background-color: rgb(190, 158, 182);
            cursor: pointer;
            &:hover {
                background-color: rgb(155, 115, 145);
            }
        }
    }
}