.one-meeting-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 0px;
    & h4 {
        flex: 1;
        font-size: 13.5px;
        letter-spacing: 0.1pc;
    }
    &:hover {
        color: #f88c9e;
        background-color:#f9eae6;
        cursor: pointer;
        border-radius: 5px;
        transform: scale(1.02);
    }
    &-icon {
        box-sizing: content-box;
        padding: 10px;
        margin-right: 0%;
        &:hover {
            background-color: #f992a3;
            color: white;
            border-radius: 10px;
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}