.one-meeting-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    & h4 {
        flex: 1;
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1pc;
       
    }
    &:hover {
        color: rgb(238, 158, 172);
        cursor: pointer;
    }
    &-icon {
        box-sizing: content-box;
        padding: 10px;
        &:hover {
            background-color: rgb(242, 242, 242);
            border-radius: 10px;
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}