.one-meeting-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    & h4 {
        flex: 1;
    }
    &:hover {
        background-color: rgb(230, 220, 220);
    }
    &-icon {
        box-sizing: content-box;
        padding: 10px;
        &:hover {
            background-color: rgb(204, 182, 182);
            border-radius: 10px;
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}