<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="notification">BRIDAL COUTURE
  </div>
  <div id="header">
    <div class="text-center text-white bg-light">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bride To Be</a>
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Signin">Sign In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Signup">Sign Up</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/AboutUs">About Us<span class="sr-only">(current)</span></a>
          </li>
        </div>

        <div class="form-inline">
          <!-- Search form -->
          <div class="btn fa fa-search"></div>
          <input class="header-search-input" value="" type="text" placeholder="Enter your search" />
        </div>
      </nav>
    </div>
  </div>
  <div class="container-fluid py-5">
    <h1 class="h1">This site is in constraction progress...</h1>
  </div>
</body>
</html>
