<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="notification">BRIDAL COUTURE</div>
  <div id="header">
    <div class="text-center text-white bg-light">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BrideToBe</a>

        <div class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/AboutUs">About Us</a>
          </li>
        </div>

        <div class="form-inline">
          <!-- Search form -->
          <div class="btn fa fa-search"></div>
          <input class="header-search-input" value="" type="text" placeholder="Enter your search" />
        </div>
      </nav>
    </div>
  </div>

  <!-- Full Page Intro -->
  <div class="view">
    <div class="mask rgba-gradient align-items-center">
      <div class="container">
        <div class="center">
          <h1 class="h1 mt-sm-5">BRIDAL COUTURE</h1>
          <h6>
            Our couture bridal gowns are known for their romantic and sensual
            nature and exquisite details,
            <h6>
              along with their figure-flattering silhouettes and emphasis on
              comfort.
              <h6>
                SignIn and make an appointment this month and get a 10 percent
                discount from us!
              </h6>
            </h6>
          </h6>
          <hr class="hr-light" />
          <a id="btn2" class="btn btn-white" onclick="window.location.href='/Signin'">
            Click here to SignIn
          </a>
          <a id="btn2" class="btn btn-outline-white" onclick="window.location.href='/Signup'">
            Click here to SignUp
          </a>
          <div class="center mt-4 my-sm-4">
            <img src="https://urbanbridesmag.co.il/images/stories/AAA_2022/March/Alon_Livne/1.jpg" />
          </div>
          <div class="container contact-us">
            <div class="container-fluid bg-grey">
              <h1 class="h1" style="color: black">SEND US AN EMAIL</h1>
              <h1 class="h1" style="
                    color: black;
                    margin-right: 50%;
                    line-height: 1;
                    margin-bottom: 1rem;
                    font-size: larger;
                    margin-top: 3rem;
                    font-family: 'Courier New', Courier, monospace;
                  ">
                Our beloved team will answer
              </h1>
              <h1 class="h1" style="
                    color: black;
                    margin-right: 50%;
                    line-height: 1;
                    margin-top: 0rem;
                    font-size: larger;
                    font-family: 'Courier New', Courier, monospace;
                  ">
                you soon as possible
              </h1>
              <div class="row">
                <div class="col-sm-6" style="font-weight: 700; margin-top: 1rem">
                  <p>
                    <i class="fa fa-map-marker" style="margin-top: 3rem" aria-hidden="true"></i>Tel Aviv, Israel
                  </p>
                  <p>
                    <i class="fa fa-phone" aria-hidden="true"></i>+972
                    999741224
                  </p>
                  <p>
                    <i class="fa fa-envelope-open" aria-hidden="true"></i>Bride-to-be@gmail.com
                  </p>
                </div>
                <div class="col-sm-4" id="conteiner-input-contact">
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <input class="form-control" id="name" name="name" placeholder="Name *" type="text" required />
                    </div>
                    <div class="col-sm-6 form-group">
                      <input class="form-control" id="email" name="email" placeholder="Email *" type="email" required />
                    </div>
                  </div>
                  <textarea class="form-control" id="message" name="message" placeholder="Your message *"
                    rows="6"></textarea><br />
                  <div class="row">
                    <div class="col-sm-12 form-group">
                      <button class="btn btn-default pull-right" style="font-family: sans-serif" type="submit">
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
