<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="notification">BRIDAL COUTURE</div>
    <div id="header">
        <div class=" text-center text-white bg-light">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Bride To Be</a>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Signin">Sign In<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutUs">About Us</a>
                    </li>
                </div>

                <div class="form-inline">
                    <!-- Search form -->
                    <div class="btn fa fa-search"></div>
                    <input class="header-search-input" value="" type="text" placeholder="Enter your search">
                </div>
            </nav>
        </div>
        <main class="login-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Sing In</div>
                            <div class="card-body">
                                <form action="" method="">
                                    <div class="form-group row">
                                        <label for="email_address"
                                            class="col-md-4 col-form-label text-md-right">UserName</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email_address" class="form-control"
                                                name="email-address" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password"
                                            class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="password" class="form-control" name="password"
                                                required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6 offset-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="remember"> Remember Me
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn3" href="/">
                                            Sign In
                                        </button>
                                    </div>
                                    <div class=" col-md-6 form-group row text-md-right mt-4 ">
                                        <label for="signup" class=" form-group my-sm-2 text-md-right ">
                                            <label style="width: 7cm; font-size: medium;">Not a member?
                                                <a href="/Signup" class=" col-md-4 btn btn-link my-lg-0 ">Sign up
                                                    now</a>
                                            </label>
                                        </label>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>